<div class="widget tasks">
  <div class="widget__header">
    <div class="widget__title">
      <span>{{title}}</span>
    </div>
    <div class="widget__actions">
      <ul>
        <li><i class="material-icons">expand_less</i></li>
        <li><i class="material-icons">unfold_less</i></li>
        <li><i class="material-icons">drag_handle</i></li>
        <li><i class="material-icons">clear</i></li>
      </ul>
    </div>
  </div>
  <div class="widget__body">
    <dx-chart id="chart" title="" [dataSource]="dataSource">
      <dxi-series valueField="finished" name="Electronic" color="#404040"></dxi-series>
      <dxi-series valueField="unfinished" name="Scanned" color="#d40e8c"></dxi-series>
      <dxi-value-axis position="left">
        <dxo-title text="%"></dxo-title>
      </dxi-value-axis>
      <dxo-common-series-settings argumentField="state" type="stackedBar">
      </dxo-common-series-settings>
      <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="top">
      </dxo-legend>
      <dxo-export [enabled]="false"></dxo-export>
      <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="customizeTooltip">
      </dxo-tooltip>
    </dx-chart>
  </div>
</div>
