<div class="dashboard-tab__bg"></div>
<div class="row">
  <div class="app-tile col-lg-2 noActive">
    Miscellaneous Entries
    <!--<a routerLink='/open-item-core-data' class="app-tile__link">Miscellaneous Entries</a>-->
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='logical-system' class="app-tile__link">Logical Systems</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='conditions' href="" class="app-tile__link">Conditions</a>
  </div>
  <div class="app-tile col-lg-2 noActive">
    Number Ranges
    <!--<a routerLink='/gt/record-number' class="app-tile__link">Number Ranges</a>-->
  </div>
  <div class="app-tile col-lg-2 noActive">
   User Exits
  </div>
  <div class="app-tile col-lg-2 noActive">
    Content Repository
    <!--<a routerLink='/isas' href="" class="app-tile__link">Content Repository</a>-->
  </div>
</div>
