<div class="dashboard-tab__bg"></div>
<div class="row">
  <div class="app-tile col-lg-2">
    <a routerLink='field-configuration' class="app-tile__link">Field Configuration</a>
  </div>

  <div class="app-tile col-lg-2">
    <a routerLink='validations' class="app-tile__link">Validations</a>
  </div>

  <div class="app-tile col-lg-2 noActive">
    Action Buttons
  </div>

  <div class="app-tile col-lg-2">
    <a routerLink='general-technical' class="app-tile__link">General Technical Configuration</a>
  </div>

  <div class="app-tile col-lg-2 noActive">
    Invoice Gateway Configuration
  </div>

  <div class="app-tile col-lg-2">
    <a routerLink='status-configuration' class="app-tile__link">Status Configuration</a>
  </div>

  <div class="app-tile col-lg-2">
    <a routerLink='routing' class="app-tile__link">Routing</a>
  </div>

  <div class="app-tile col-lg-2 noActive">
    Posting Controls
  </div>

  <div class="app-tile col-lg-2 noActive">
    Approvals
  </div>

  <div class="app-tile col-lg-2 noActive">
    Notifications
  </div>
</div>
