<div class="dashboard-tab__bg"></div>
<div class="row">
  <div class="app-tile col-lg-2">
    <a routerLink='detail-field-configuration' href="" class="app-tile__link">Detail Screen Field Configuration</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='source-values' href="" class="app-tile__link">Source</a>
  </div>
  <div class="app-tile col-lg-2 noActive">
    Custom Fields
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='record-types' href="" class="app-tile__link">Record Type</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='search-variant' href="" class="app-tile__link">Search Variant by Record Type</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='hitlist-variant' href="" class="app-tile__link">Hitlist Variant by Record Type</a>
  </div>
</div>
