<div class="widget tasks">
  <div class="widget__header">
    <div class="widget__title">
      <span>{{title}}</span>
    </div>
    <div class="widget__actions">
      <ul>
        <li><i class="material-icons">expand_less</i></li>
        <li><i class="material-icons">unfold_less</i></li>
        <li><i class="material-icons">drag_handle</i></li>
        <li><i class="material-icons">clear</i></li>
      </ul>
    </div>
  </div>
  <div class="widget__body">
    <div class="tasks__title">
      Process Overview
    </div>
    <div class="tasks__list row">
      <div class="col-lg-1"></div>
      <div class="task col-lg-2">
        <div class="task__kpi task__kpi--critical">
          46
        </div>
        <div class="task__title">
          Invoices Received Today
        </div>
      </div>
      <div class="task col-lg-2">
        <div class="task__kpi task__kpi--critical">
          1068
        </div>
        <div class="task__title">
          My Submissions
        </div>
      </div>
      <div class="task col-lg-2">
        <div class="task__kpi task__kpi--critical">
          23
        </div>
        <div class="task__title">
          My Drafts
        </div>
      </div>
      <div class="task col-lg-2">
        <div class="task__kpi task__kpi--critical">
          35
        </div>
        <div class="task__title">
          Waiting Your Action
        </div>
      </div>
      <div class="task task--last col-lg-2">
        <div class="task__kpi task__kpi--critical">
          3
        </div>
        <div class="task__title">
          Past Due
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
