<div class="dashboard-tab__bg"></div>
<div class="row">
  <div class="app-tile col-lg-2 noActive">
    Approval Levels
    <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Approval Levels</a>-->
  </div>
  <div class="app-tile col-lg-2 noActive">
    Approver GL Limit
    <!--<a routerLink='/isas' href="" class="app-tile__link">Approver GL Limit</a>-->
  </div>
  <div class="app-tile col-lg-2 noActive">
    Approver Cost Center Limit
    <!--<a routerLink='/isas' href="" class="app-tile__link">Approver Cost Center Limit</a>-->
  </div>
</div>
