// colors
$white: #fff;
$black: #000;
$color-ruby: rgb(255, 13, 94);
$color-raspberry: rgb(150, 0, 77);
$color-raspberry-active: rgb(148, 0, 76);
$color-violet: rgb(245, 0, 255);
$color-fuchsia: rgb(212, 14, 140);
$color-orange: rgb(255, 41, 0);
$color-red-orange: rgb(199, 34, 43);
$color-grey-dark: rgb(64, 64, 64);
$color-greyisch-brown: rgb(84, 84, 84);
$color-grey-medium-dark: rgb(103, 103, 103);
$color-grey-light: rgb(217, 217, 217);

$color-dx-datagrid-rowsview: rgb(252, 252, 252);
$color-dx-header-row: rgb(51, 51, 51);

$color-bookmarks: rgba(254, 254, 254, .85);
$color-hl: rgba(255, 255, 255, .3);

// dimensions
$header-height: 131px;
