<dx-button class="button button--default" icon="back" (onClick)="navBack()"></dx-button>
<br>
<br>
<h2>Usage info for Filter {{name}}</h2>
<br>
<dx-data-grid
  [dataSource]="restrictions"
  class="datagrid"
  [showRowLines]="true"
  [hoverStateEnabled]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onSelectionChanged)="selectionChanged($event)"
  [masterDetail]="{ enabled: false, template: 'detail' }"
  [customizeColumns]="customizeColumns">

  <dxo-selection mode="single"></dxo-selection>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-export [enabled]="true"></dxo-export>

  <dxi-column caption="Name" dataField="entityId.name"></dxi-column>
  <dxi-column caption="Active" dataField="status" cellTemplate="activeCellTemplate" [width]="150"></dxi-column>
  <div *dxTemplate="let cellData of 'activeCellTemplate'">
    <dx-switch [value]="cellData.value === 'ACTIVE'" [readOnly]="true"></dx-switch>
  </div>

  <dxi-column
    [allowHeaderFiltering]="false"
    [allowSorting]="false"
    [allowFiltering]="false"
    dataField="entityId.name"
    caption=""
    cellTemplate="commandCellTemplate"
    [width]="100"
    [fixed]="true"
    fixedPosition="right">
  </dxi-column>
  <div *dxTemplate="let cellData of 'commandCellTemplate'">
    <div>
      <dx-button class="button button--icon-only button--default" icon="edit" (click)="editRestriction(cellData.value);"></dx-button>
      <dx-button class="button button--icon-only button--default" icon="info" (click)="showInfo(cellData.value, $event);"></dx-button>
    </div>
  </div>
  <div *dxTemplate="let restriction of 'detail'">
    <dx-data-grid
      [dataSource]="restriction.data.parts"
      class="datagrid"
      [hoverStateEnabled]="true"
      [showColumnLines]="false"
      [showRowLines]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [customizeColumns]="customizeColumns">

      <dxi-column dataField="startingBraces" caption="Braces" cellTemplate="startingBracesTemplate"></dxi-column>
      <div *dxTemplate="let cellData of 'startingBracesTemplate'">
        {{bracesAsString(cellData.value, true)}}
      </div>
      <dxi-column dataField="restriction" caption="Restriction"></dxi-column>
      <dxi-column dataField="matchFieldOI" caption="Match field (OI)"></dxi-column>
      <dxi-column dataField="operator" caption="Operator"></dxi-column>
      <dxi-column dataField="matchTableISAS" caption="Match table (Payment Information)"></dxi-column>
      <dxi-column dataField="matchFieldISAS" caption="Match field (Payment Information)"></dxi-column>
      <dxi-column dataField="minValue" caption="Min. Value"></dxi-column>
      <dxi-column dataField="maxValue" caption="Max. Value"></dxi-column>
      <dxi-column dataField="filterMinValue" caption="Filter min. value"></dxi-column>
      <dxi-column dataField="filterMaxValue" caption="Filter max. value"></dxi-column>
      <dxi-column dataField="endingBraces" caption="Braces" cellTemplate="endingBracesTemplate"></dxi-column>
      <div *dxTemplate="let cellData of 'endingBracesTemplate'">
        {{bracesAsString(cellData.value, false)}}
      </div>
      <dxi-column dataField="operation" caption="Operation"></dxi-column>

    </dx-data-grid>
  </div>
</dx-data-grid>
<app-info-popup id="infoPopup"></app-info-popup>
