<div class="form__header">
  <div>
    <dx-button class="button button--default" icon="back" (onClick)="navBack()"></dx-button>
    <span class="form__header-title">{{mode | titlecase}} Origin Group {{currentOriginGroup.id.id}}</span>
  </div>
</div>
<div [hidden]="mode !== 'Edit'">
  <dx-button class="button button--default" icon="info" (onClick)="showInfoOriginGroup($event);"></dx-button>
</div>
<br>
<br>
<form class="form" (submit)="save($event)">
  <dx-form id="form" class="form__dx-form" [colCount]="1" [formData]="currentOriginGroup" [showColonAfterLabel]="false"
           [showValidationSummary]="true" validationGroup="originGroupData">
    <dxi-item itemType="group" caption="General Information" [colCount]="2">
      <dxi-item dataField="id.id" [label]="{text: 'Name'}" [editorOptions]="{placeholder: 'Choose a name', readOnly: mode === 'Edit', maxLength: 25}">
        <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="active" [label]="{text: 'Active'}" editorType="dxSwitch" [editorOptions]="{ value: currentOriginGroup.active}"></dxi-item>
      <dxi-item dataField="sequenceClatchProcess" [label]="{text: 'Profile Sequence'}" editorType="dxSelectBox" [editorOptions]="{items: allProfileSequences, displayExpr: 'sequenceId.name', valueExpr: 'sequenceId.name', showClearButton: true, searchEnabled: true}"></dxi-item>
      <dxi-item dataField="description" editorType="dxTextArea" [colSpan]="3" [editorOptions]="{maxLength: 60}"></dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Characteristics">
      <dxi-item dataField="characteristicsSetting" [label]="{text: 'Characteristics Setting'}" editorType="dxSelectBox"
                [editorOptions]="{ items: characteristicSettings, displayExpr: 'displayName', valueExpr: 'technicalName'}" cssClass="form__item">
        <dxi-validation-rule type="required" message="Characteristics setting is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item cellTemplate="_characteristicTemplate">
        <div *dxTemplate="let data of '_characteristicTemplate'">
          <dx-data-grid
            class="datagrid"
            [dataSource]="currentOriginGroup.characteristics"
            [hoverStateEnabled]="true"
            [showColumnLines]="false"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            (onToolbarPreparing)="onToolbarPreparingCharacteristicsGrid($event)"
            (onFileSaving)="onFileSavingCharacteristics($event)"
            [customizeColumns]="customizeColumns">

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 20, 50]"
              [showInfo]="true">
            </dxo-pager>

            <dxi-column caption="Name" dataField="name"></dxi-column>
            <dxi-column caption="RecordInterface Field" dataField="sourceField"></dxi-column>
            <dxi-column caption="Open Item Field" dataField="openItemField"></dxi-column>
            <dxi-column caption="Regular Expression" dataField="regularExpression"></dxi-column>
            <dxi-column caption="Success Rate" dataField="successRate" [customizeText]="addPercentSign"></dxi-column>
            <dxi-column caption="Accounting System" dataField="accountingSystem" cellTemplate="accountingSystemCellTemplate"></dxi-column>
            <div *dxTemplate="let cellData of 'accountingSystemCellTemplate'">
              <p>{{getAccountingSystemNameById(cellData.value)}}</p>
            </div>
            <dxi-column
              [allowHeaderFiltering]="false"
              [allowSorting]="false"
              [allowFiltering]="false"
              dataField="id"
              caption=""
              cellTemplate="commandCellTemplate"
              [width]="150"
              [fixed]="true"
              fixedPosition="right">
            </dxi-column>
            <div *dxTemplate="let cellData of 'commandCellTemplate'">
              <div>
                <dx-button class="button button--icon-only button--default" icon="edit" (click)="editCharacteristic(cellData.value, $event);"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="trash" (click)="removeCharacteristic(cellData.value, $event);"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="info" (click)="showInfoCharacteristic(cellData.value, $event);"></dx-button>
              </div>
            </div>
          </dx-data-grid>
        </div>
      </dxi-item>
      <dxi-item cellTemplate="_characteristicTemplate2">
        <div *dxTemplate="let data of '_characteristicTemplate2'">
          <div *ngIf="!isCharacteristicFormHidden">
            <br>
            <hr />
            <br>
            <h2 style="padding-top: 5px;">{{modeCharacteristic}} Characteristic {{currentCharacteristic.name}}</h2>
            <br>
            <br>
            <app-characteristic [(mode)]="modeCharacteristic"
                                (isHidden)="hideCharacteristicForm($event)"
                                [(characteristics)]="currentOriginGroup.characteristics"
                                [currentCharacteristic]="currentCharacteristic"
                                [sourceFieldRelevantFields]="sourceFieldRelevantFields"
                                [allAccountingSystems]="allAccountingSystems"
                                [isAccountingSystemSelectable]="true"
                                [getAccountingSystemName]="getAccountingSystemName.bind(this)"
            >
            </app-characteristic>
          </div>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Foreign Currency Information Configurations">
      <dxi-item cellTemplate="_currencyConfigurationsTemplate">
        <div *dxTemplate="let data of '_currencyConfigurationsTemplate'">
          <dx-data-grid
            class="datagrid"
            [dataSource]="currentOriginGroup.foreignCurrencyConfigurations"
            [hoverStateEnabled]="true"
            [showColumnLines]="false"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            (onToolbarPreparing)="onToolbarPreparingCurrencyConfigurationsGrid($event)"
            (onFileSaving)="onFileSavingCurrencyConfigurations($event)"
            [customizeColumns]="customizeColumns">

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 20, 50]"
              [showInfo]="true">
            </dxo-pager>

            <dxi-column caption="Amount Type" dataField="amountType" [customizeText]="getAmountTypeDisplayName"></dxi-column>
            <dxi-column caption="Regular Expression Prefix" dataField="regexPrefix"></dxi-column>
            <dxi-column caption="Regular Expression Currency" dataField="regexCurrency"></dxi-column>
            <dxi-column caption="Regular Expression Exchange Rate" dataField="regexExchangeRate"></dxi-column>
            <dxi-column caption="" dataField="id" cellTemplate="commandCellTemplate"
                        [allowHeaderFiltering]="false" [allowSorting]="false" [allowFiltering]="false"
                        [width]="150" [fixed]="true" fixedPosition="right">
            </dxi-column>
            <div *dxTemplate="let cellData of 'commandCellTemplate'">
              <div>
                <dx-button class="button button--icon-only button--default" icon="edit" (click)="editCurrencyConfiguration(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="trash" (click)="removeCurrencyConfiguration(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="info" (click)="showInfoCurrencyConfiguration(cellData.value, $event)"></dx-button>
              </div>
            </div>
          </dx-data-grid>
        </div>
      </dxi-item>
      <dxi-item cellTemplate="_currencyConfigurationsTemplate2">
        <div *dxTemplate="let data of '_currencyConfigurationsTemplate2'">
          <div *ngIf="!isCurrencyConfigurationFormHidden">
            <br>
            <hr />
            <br>
            <h2 style="padding-top: 5px;">{{modeCurrencyConfiguration}} Foreign Currency Information Configuration</h2>
            <br>
            <br>
            <app-foreign-currency-information-configuration [(mode)]="modeCurrencyConfiguration"
                                                            (isHidden)="hideCurrencyConfigurationForm($event)"
                                                            [(foreignCurrencyConfigurations)]="currentOriginGroup.foreignCurrencyConfigurations"
                                                            [currentCurrencyConfiguration]="currentCurrencyConfiguration"
            >
            </app-foreign-currency-information-configuration>
          </div>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Import Reason Codes">
      <dxi-item cellTemplate="_importReasonCodesTemplate">
        <div *dxTemplate="let data of '_importReasonCodesTemplate'">
          <dx-data-grid
            class="datagrid"
            [dataSource]="currentOriginGroup.importReasonCodes"
            [hoverStateEnabled]="true"
            [showColumnLines]="false"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            (onToolbarPreparing)="onToolbarPreparingImportReasonCodesGrid($event)"
            (onFileSaving)="onFileSavingImportReasonCodes($event)"
            [customizeColumns]="customizeColumns">

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 20, 50]"
              [showInfo]="true">
            </dxo-pager>

            <dxi-column caption="External Reason" dataField="externalReason"></dxi-column>
            <dxi-column caption="Amount Type Class" dataField="amountTypeClass" [customizeText]="getAmountTypeDisplayName"></dxi-column>
            <dxi-column caption="Amount Type Identifier" dataField="amountTypeIdentifier"></dxi-column>
            <dxi-column caption="" dataField="id" cellTemplate="commandCellTemplate"
                        [allowHeaderFiltering]="false" [allowSorting]="false" [allowFiltering]="false"
                        [width]="150" [fixed]="true" fixedPosition="right">
            </dxi-column>
            <div *dxTemplate="let cellData of 'commandCellTemplate'">
              <div>
                <dx-button class="button button--icon-only button--default" icon="edit" (click)="editImportReasonCode(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="trash" (click)="removeImportReasonCode(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="info" (click)="showInfoImportReasonCode(cellData.value, $event)"></dx-button>
              </div>
            </div>
          </dx-data-grid>
        </div>
      </dxi-item>
      <dxi-item cellTemplate="_importReasonCodesTemplate2">
        <div *dxTemplate="let data of '_importReasonCodesTemplate2'">
          <div *ngIf="!isImportReasonCodeFormHidden">
          <br>
          <hr />
          <br>
          <h2 style="padding-top: 5px;">{{modeImportReasonCode}} Import Reason Code</h2>
          <br>
          <br>
          <app-import-reason-code [(mode)]="modeImportReasonCode"
                                  (isHidden)="hideImportReasonCodeForm($event)"
                                  [(importReasonCodes)]="currentOriginGroup.importReasonCodes"
                                  [currentImportReasonCode]="currentImportReasonCode"
          >
          </app-import-reason-code>
        </div>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Optimization Configurations">
      <dxi-item cellTemplate="_optimizationConfigurationsTemplate">
        <div *dxTemplate="let data of '_optimizationConfigurationsTemplate'">
          <dx-data-grid
            class="datagrid"
            [dataSource]="currentOriginGroup.optimizationConfigurations"
            [hoverStateEnabled]="true"
            [showColumnLines]="false"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            (onToolbarPreparing)="onToolbarPreparingOptimizationConfigurationsGrid($event)"
            (onFileSaving)="onFileSavingOptimizationConfigurations($event)"
            [customizeColumns]="customizeColumns">

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 20, 50]"
              [showInfo]="true">
            </dxo-pager>

            <dxi-column caption="Name" dataField="name"></dxi-column>
            <dxi-column caption="Search Mode" dataField="optimizationSearchMode" [customizeText]="getSearchModeDisplayName"></dxi-column>
            <dxi-column caption="Delimiter" dataField="delimiter"></dxi-column>
            <dxi-column caption="Regular Expression" dataField="regularExpression"></dxi-column>
            <dxi-column caption="Open Item Field" dataField="openItemField"></dxi-column>
            <dxi-column caption="PrefixLength" dataField="prefixLength" [editorOptions]="{format: '#'}"></dxi-column>
            <dxi-column caption="Accounting System" cellTemplate="accountingSystemCellTemplate"></dxi-column>
            <div *dxTemplate="let cellData of 'accountingSystemCellTemplate'">
              <p>{{getAccountingSystemNameByObject(cellData)}}</p>
            </div>
            <dxi-column caption="" dataField="id" cellTemplate="commandCellTemplate"
                        [allowHeaderFiltering]="false" [allowSorting]="false" [allowFiltering]="false"
                        [width]="150" [fixed]="true" fixedPosition="right">
            </dxi-column>
            <div *dxTemplate="let cellData of 'commandCellTemplate'">
              <div>
                <dx-button class="button button--icon-only button--default" icon="edit" (click)="editOptimizationConfiguration(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="trash" (click)="removeOptimizationConfiguration(cellData.value, $event)"></dx-button>
                <dx-button class="button button--icon-only button--default" icon="info" (click)="showInfoOptimizationConfiguration(cellData.value, $event)"></dx-button>
              </div>
            </div>
          </dx-data-grid>
        </div>
      </dxi-item>
      <dxi-item cellTemplate="_optimizationConfigurationsTemplate2">
        <div *dxTemplate="let data of '_optimizationConfigurationsTemplate2'">
          <div *ngIf="!isOptimizationConfigurationFormHidden">
          <br>
          <hr />
          <br>
          <h2 style="padding-top: 5px;">{{modeOptimizationConfiguration}} Optimization Configuration</h2>
          <br>
          <br>
          <app-optimization-configuration [(mode)]="modeOptimizationConfiguration"
                                          (isHidden)="hideOptimizationConfigurationForm($event)"
                                          [(optimizationConfigurations)]="currentOriginGroup.optimizationConfigurations"
                                          [allAccountingSystems]="allAccountingSystems"
                                          [accountingSystem]="currentOptimizationConfiguration.accountingSystem"
                                          [showAccountingSystem]="true"
                                          [currentOptimizationConfiguration]="currentOptimizationConfiguration"
          >
          </app-optimization-configuration>
        </div>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Origins">
      <dxi-item dataField="id.id" [template]="'filteredOriginsGridTemplate'"></dxi-item>
      <div *dxTemplate="let data of 'filteredOriginsGridTemplate'">
        <app-origin-group-detail-origins [filteredOrigins]="filteredOrigins"
                                         [selectedRowKeys]="selectedRows"
                                         (change)="selectedOriginsChanged($event)">
        </app-origin-group-detail-origins>
      </div>
    </dxi-item>
  </dx-form>
  <div class="form__footer">
    <dx-button class="button button--primary button--icon-and-text" text="Save" icon="floppy" validationGroup="originGroupData" [useSubmitBehavior]="true">
    </dx-button>
  </div>
</form>
<dx-popup class="popup" [width]="300" [height]="250" [showTitle]="true" title="Information" [dragEnabled]="false" [closeOnOutsideClick]="true"
  [(visible)]="infoVisible">
  <div *dxTemplate="let data of 'content'">
    <p>
      Inserted by:
      <span>{{infoObject.insertMetadata.insertedBy}}</span>
    </p>
    <p>
      Inserted on:
      <span>{{infoObject.insertMetadata.insertedOn | date:"short"}}</span>
    </p>
    <p>
      Last updated by:
      <span>{{infoObject.updateMetadata.updatedBy}}</span>
    </p>
    <p>
      Last updated on:
      <span>{{infoObject.updateMetadata.updatedOn | date:"short"}}</span>
    </p>
  </div>
</dx-popup>
