<div class="dashboard-tab__bg"></div>
<div class="row">
  <!-- <div class="app-tile col-lg-2">
    <a routerLink='/master-data/statuses' class="app-tile__link">Statuses</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='/master-data/pts' class="app-tile__link">PTS</a>
  </div> -->
  <!-- <div class="app-tile col-lg-2">
    <a routerLink='/master-data/Logical-System-Module' class="app-tile__link">Logical System</a>
  </div> -->
  <div class="app-tile col-lg-2">
    <a routerLink='company-code' class="app-tile__link">Company Code</a>
  </div>
  <div class="app-tile col-lg-2 noActive"  >
    Purchase Order
<!--    <a routerLink='/master-data/Vendors-Module' class="app-tile__link">Purchase Order</a>-->
  </div>
  <div class="app-tile col-lg-2 noActive">
    Vendor Master
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='pay-methods' class="app-tile__link">Payment Methods</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='pay-terms' class="app-tile__link">Payment Terms</a>
  </div>
  <div class="app-tile col-lg-2 noActive">
    Factory Calendar
<!--    <a routerLink='/master-data/pay-terms' class="app-tile__link">Factory Calendar</a>-->
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='/master-data/currency' class="app-tile__link">Currencies</a>
  </div>
  <div class="app-tile col-lg-2 noActive">
    Currency Rates
<!--    <a routerLink='/master-data/Currency-Module' class="app-tile__link">Currency Rates</a>-->
  </div>
  <div class="app-tile col-lg-2 noActive" >
    Tax Rates
<!-- <a routerLink='/master-data/field-config' class="app-tile__link">Tax Rates</a>-->
  </div>
 <!--    <div class="app-tile col-lg-2">
    <a routerLink='/master-data/source-value-module' class="app-tile__link">RecordInterface Values</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='/master-data/search-feilds' class="app-tile__link">Search Fields</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='/master-data/translation' class="app-tile__link">Translation</a>
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='/master-data/operational' class="app-tile__link">Operational</a>
  </div> -->
</div>
