<div class="dashboard-tab__bg"></div>
<div class="row">
    <div class="app-tile col-lg-2 noActive">
        Recurring Postings
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Recurring Postings</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        SAP Posting Interface
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">SAP Posting Interface</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Posting Transaction
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Posting Transaction</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        PWR
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">PWR</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Tax Code Determination
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Tax Code Determination</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Unplanned Freight Limit
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Unplanned Freight Limit</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Authorized 1-way Supplier
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Authorized 1-way Supplier</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Posting Period Determination
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Posting Period Determination</a>-->
    </div>
    <div class="app-tile col-lg-2 noActive">
        Auto Post Control
        <!--<a routerLink='/open-item-core-data' href="" class="app-tile__link">Auto Post Control</a>-->
    </div>
</div>
