<div class="form__header">
    <div>
        <dx-button class="button button--default" icon="back" (onClick)="navBack()"></dx-button>
    </div>
</div>
<form class="form" style="width: 1200px">
    <dx-form
        class="form__dx-form" id="form"
        [colCount]="1"
        [formData]="currentCondition"
        [showColonAfterLabel]="true"
        [showValidationSummary]="true"
        validationGroup="conditionValidation">
        <dxi-item caption="Type"
              dataField="TYPE"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: recType ,showClearButton: true}">
            <dxo-label text="Type"></dxo-label>
            <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item>

        <br>

        <dxi-item dataField="REC_TYPE"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: record ,showClearButton: true}">
            <dxo-label text="Record type"></dxo-label>
            <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item caption="Condition"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: condCell ,showClearButton: true, value: getFormValue() }"
              dataField="COND_NUM"
              (onValueChanged)="changeFormValue($event)">
            <dxo-label text="Condition"></dxo-label>
        </dxi-item>
        <dxi-item
              caption="Assignees"
              dataField="ASSIGNEES"
              [template]="'ASSIGNEESCellTemplate'"
              [label]="{text: 'Assignees'}">
            <dxo-label text="Assignees"></dxo-label>
        </dxi-item>
        <div *dxTemplate="let cellData of 'ASSIGNEESCellTemplate'"
             [ngClass]="getCssClass(cellData.rowIndex, 'COND_NUM')">
            <dx-drop-down-box
                    [(value)]="treeBoxValue"
                    placeholder="Select a value..."
                    [showClearButton]="true"
                    [dataSource]="treeDataSource"
                    (onValueChanged)="syncTreeViewSelection()">
                <div *dxTemplate="let data of 'content'">
                    <dx-tree-view
                        [items]="treeDataSource"
                        dataStructure="plain"
                        selectionMode="multiple"
                        showCheckBoxesMode="normal"
                        [selectNodesRecursive]="false"
                        [selectByClick]="true"
                        displayExpr="name"
                        (onContentReady)="syncTreeViewSelection($event)"
                        (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                    </dx-tree-view>
                </div>
            </dx-drop-down-box>
        </div>

        <dxi-item itemType="group" caption="Agent Parts">
            <dx-data-grid
                class="datagrid"
                [dataSource]="currentCondition.AGENT_PARTS"
                [hoverStateEnabled]="false"
                [showColumnLines]="false"
                [showRowLines]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [showBorders]="false"
                [rowAlternationEnabled]="true"
                (onContentReady)="onContentReady($event)"
                (onFileSaving)="onFileSaving($event, 'condition_parts')"
                (onToolbarPreparing)="onToolbarPreparing($event, 'AGENT_PARTS')"
                [customizeColumns]="customizeColumns">
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-export [enabled]="true"></dxo-export>
                <dxo-sorting mode="none"></dxo-sorting>

                <dxi-column caption="Braces" dataField="STARTING_BRACES"
                            cellTemplate="startingBracesButtonsCellTemplate"></dxi-column>
                <div *dxTemplate="let cellData of 'startingBracesButtonsCellTemplate'">
                    <dx-button class="button button--icon-only button--default" icon="add"
                               (click)="addBraces(cellData.rowIndex, true);"></dx-button>
                    <dx-button class="button button--icon-only button--default" icon="fas fa-minus"
                               (click)="removeBraces(cellData.rowIndex, true);"></dx-button>
                    {{bracesAsString(cellData.value, true)}}
                </div>
                <dxi-column caption="Match field" cellTemplate="matchFieldCellTemplate"
                            [width]="250"></dxi-column>
                <div *dxTemplate="let cellData of 'matchFieldCellTemplate'">
                    <div [ngClass]="getCssClass(cellData, 'MATCH_ENTITY')" style="margin-bottom: 8px">
                        <dx-select-box
                            [items]="['HEADER', 'ITEMS']"
                            [value]="getValue(cellData.rowIndex, 'MATCH_ENTITY')"
                            [showClearButton]="true" itemTemplate="tableItemTemplate"
                            (onOpened)="dropDownOpened($event)"
                            (onContentReady)="dropDownContentReady($event)"
                            (onValueChanged)="changeValue(cellData, $event, 'MATCH_ENTITY', cellData)"
                            [ngClass]="getCssClass(cellData, 'MATCH_ENTITY')">
                            <div *dxTemplate="let data of 'tableItemTemplate'">
                                {{data}}
                            </div>
                        </dx-select-box>
                    </div>
                    <div [ngClass]="getCssClass(cellData, 'MATCH_FIELD')">
                        <dx-select-box
                            #matchFieldSelectBox
                            [dataSource]="cellData.data.ITEMS"
                            [value]="getValue(cellData.rowIndex, 'MATCH_FIELD', matchFieldList)"
                            (onValueChanged)="changeValue(cellData.rowIndex, $event, 'MATCH_FIELD')"
                            [showClearButton]="true"
                            valueExpr="KEY"
                            displayExpr="LABEL"
                            (onOpened)="dropDownOpened($event)"
                            (onContentReady)="dropDownContentReady($event)">
                        </dx-select-box>
                    </div>
                </div>
                <dxi-column caption="Operator" cellTemplate="operatorCellTemplate" [width]="120"></dxi-column>
                <div *dxTemplate="let cellData of 'operatorCellTemplate'"
                     [ngClass]="getCssClass(cellData, 'OPERATOR')">
                    <dx-select-box
                         [dataSource]="operators"
                         valueExpr="technicalName"
                         displayExpr="displayName"
                         [value]="getValue(cellData.rowIndex, 'OPERATOR')"
                         (onValueChanged)="changeValue(cellData.rowIndex, $event, 'OPERATOR')"
                         [showClearButton]="true">
                    </dx-select-box>
                </div>
                <dxi-column caption="Value" cellTemplate="maxValueCellTemplate" [width]="150"></dxi-column>
                <div *dxTemplate="let cellData of 'maxValueCellTemplate'"
                     [ngClass]="getCssClass(cellData, 'VALUE')">
                    <dx-text-box
                          [value]="getValue(cellData.rowIndex, 'VALUE')"
                          (onValueChanged)="changeValue(cellData.rowIndex, $event, 'VALUE')">
                    </dx-text-box>
                </div>
                <dxi-column caption="Braces" dataField="ENDING_BRACES" cellTemplate="endingBracesTemplate"></dxi-column>
                <div *dxTemplate="let cellData of 'endingBracesTemplate'">
                    {{bracesAsString(cellData.value, false)}}
                    <dx-button class="button button--icon-only button--default" icon="add"
                          (click)="addBraces(cellData.rowIndex, false);">
                    </dx-button>
                    <dx-button class="button button--icon-only button--default" icon="fas fa-minus"
                          (click)="removeBraces(cellData.rowIndex, false);">
                    </dx-button>
                </div>
                <dxi-column caption="Operation" cellTemplate="operationCellTemplate" [width]="120"></dxi-column>
                <div *dxTemplate="let cellData of 'operationCellTemplate'"
                     [ngClass]="getCssClass(cellData, 'OPERATION')">
                    <dx-select-box
                         [dataSource]="operations"
                         valueExpr="technicalName"
                         displayExpr="displayName"
                         [disabled]="isDisabled(cellData)"
                         [value]="getValue(cellData.rowIndex, 'OPERATION')"
                         (onValueChanged)="changeValue(cellData.rowIndex, $event, 'OPERATION')"
                         [showClearButton]="true">
                    </dx-select-box>
                </div>
                <dxi-column [width]="50" class="all" cellTemplate="DETAIL"></dxi-column>
                <div *dxTemplate="let local of 'DETAIL'" class="all">
                    <dx-button
                         class="button button--icon-only button--default"
                         icon="trash"
                         (click)="deleteItem(local.rowIndex)">
                    </dx-button>
                </div>
            </dx-data-grid>
        </dxi-item>
        <dxi-item>
            <dx-data-grid
                 class="datagrid"
                 [dataSource]="currentCondition.DESCRIPTION_TRANSLATE"
                 [hoverStateEnabled]="true"
                 [showColumnLines]="false"
                 [showRowLines]="true"
                 [allowColumnResizing]="true"
                 [columnAutoWidth]="true"
                 [showBorders]="false"
                 [width]="'100%'"
                 [rowAlternationEnabled]="true"
                 (onToolbarPreparing)="onToolbarPreparing($event, 'DESCRIPTION_TRANSLATE')"
                 [customizeColumns]="customizeColumns">
                <dxi-column caption="Language" cellTemplate="LANG"></dxi-column>
                <div *dxTemplate="let cellData of 'LANG'"
                     [ngClass]="getCssLangClass(cellData.rowIndex, 'LANG')">
                    <dx-text-box
                         [value]="getLangValue(cellData.rowIndex, 'LANG')"
                         (onValueChanged)="changeLangValue(cellData.rowIndex, $event, 'LANG')">
                    </dx-text-box>
                </div>
                <dxi-column
                        caption="Text"
                        cellTemplate="TEXT">
                </dxi-column>
                <div *dxTemplate="let cellData of 'TEXT'"
                     [ngClass]="getCssLangClass(cellData.rowIndex, 'TEXT')">
                    <dx-text-box
                          [value]="getLangValue(cellData.rowIndex, 'TEXT')"
                          (onValueChanged)="changeLangValue(cellData.rowIndex, $event, 'TEXT')">
                    </dx-text-box>
                </div>

                <dxi-column
                      [allowHeaderFiltering]="false"
                      [allowSorting]="false"
                      [allowFiltering]="false"
                      dataField="entityId"
                      caption=""
                      cellTemplate="commandCellTemplateLang"
                      [width]="200"
                      [fixed]="true"
                      fixedPosition="right">
                </dxi-column>
                <div *dxTemplate="let cellData of 'commandCellTemplateLang'">
                    <dx-button
                         class="button button--icon-only button--default"
                         icon="trash"
                         (click)="deleteLangItem(cellData.rowIndex);">
                    </dx-button>
                </div>
            </dx-data-grid>
        </dxi-item>
    </dx-form>
    <div class="form__footer">
        <dx-button
             type="submit"
             text="Save"
             (click)="saveCondition()"
             validationGroup="conditionValidation">
        </dx-button>
    </div>
    <hr/>
</form>
<app-info-popup id="infoPopup"></app-info-popup>
