<div class="dashboard-tab__bg"></div>
<div class="row">
  <div class="app-tile col-lg-2">
    <a routerLink='main-status' href="" class="app-tile__link">Main Status</a>
  </div>
  <div class="app-tile col-lg-2 noActive">
    Sub Status
    <!--<a routerLink='/isas' href="" class="app-tile__link">Sub Status</a>-->
  </div>
  <div class="app-tile col-lg-2">
    <a routerLink='exceptions' href="" class="app-tile__link">Exceptions</a>
  </div>
 <div class="app-tile col-lg-2 noActive">
   Sub Status Priority
    <!--<a routerLink='/isas' href="" class="app-tile__link">Sub Status Priority</a>-->
  </div>
</div>
