@import '/assets/custom/sass/main';
.dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-label{
	width: 200px!important;
}
.dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-label{
	width: 200px!important;
	text-align: left;
}